[MESSAGES CONTROL]
disable=missing-module-docstring, no-name-in-module, too-few-public-methods
max-attributes=15
max-public-methods=30

[TYPECHECK]
ignored-modules=PySide6.QtWidgets

[FORMAT]
max-line-length = 120
